<!DOCTYPE html>
<html>
<head>
    <title>Chat Demo</title>

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

    <script>
        function ChatCtrl($scope) {
        }
    </script>

</head>

<body data-ng-app data-ng-controller="ChatCtrl" style="margin: 5%;">

<form data-ng-submit="create();">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Text input" data-ng-model="message">
    </div>
</form>

<div class="alert alert-info" data-ng-repeat="m in messages">{{m.message}}</div>

</body>

</html>
