<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Keycloak</title>

    <meta name="description" content="...">
    <meta name="author" content="Stian Thorgersen">

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/keycloak.css" id="theme">

    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu|Ubuntu+Condensed' rel='stylesheet'
          type='text/css'>

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write('<link rel="stylesheet" href="css/print/' + ( window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">');
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->

    <script src="angular.js"></script>
    <script src="script.js"></script>
</head>

<body data-ng-app="demo" data-ng-controller="DemoCtrl">

<div id="menu">
    <button class="small" data-ng-click="login()" data-ng-show="keycloakConfig && !token">Log In</button>
    <button class="small" data-ng-click="login()" data-ng-show="token">Refresh Log In</button>
    <button class="small" data-ng-click="logout()" data-ng-show="token">Log Out</button>

    <button class="small" data-ng-click="showConfig = !showConfig">Config</button>
</div>

<div id="config" data-ng-show="showConfig">
    <textarea id="keycloak-config" data-ng-model="keycloakConfigJson" rows="20" cols="100"></textarea><br/>
    <div id="keycloak-config-controls">
        {{keycloakConfigStatus}}
    </div>
</div>

<div class="reveal">
    <div class="slides">
        <section>
            <section>
                <img src="keycloak-demo-logo.png"/>

                <p>Stian Thorgersen / stian@redhat.com</p>
            </section>

            <section>
                <h3>Keycloak URL</h3>
                <input data-ng-model="keycloakServer">
            </section>
        </section>

        <section>
            <h2>Configure Keycloak</h2>
            <ol>
                <li><a href="{{keycloakServer}}/auth/admin/index.html#/realms" target="_blank">Create Realm</a>
                </li>
                <li><a href="{{keycloakServer}}/auth/admin/index.html#/realms/Demo%20Realm/applications"
                       target="_blank">Create App</a></li>
                <li><a href="{{keycloakServer}}/auth/admin/index.html#/realms/Demo%20Realm/roles" target="_blank">Create
                    Roles</a></li>
                <li><a href="{{keycloakServer}}/auth/admin/index.html#/realms/Demo%20Realm/users" target="_blank">Create
                    User</a></li>
            </ol>
        </section>

        <section>
            <button class="big" data-ng-click="showConfig = !showConfig">Config App</button>
            <p><a href="{{keycloakServer}}/auth/admin/index.html#/realms/Demo%20Realm/applications" target="_blank">Get
                Config ></a></p>
        </section>

        <section>
            <button class="big" data-ng-click="login(slide + 1)" data-ng-show="keycloakConfig">Log In</button>
        </section>

        <section>
            <h2>Token</h2>

            <pre data-ng-show="token">{{token | json}}</pre>
            <p data-ng-hide="token">Not logged in</p>
        </section>

        <section>
            <h2>Client</h2>
            <ul>
                <li><a href="{{keycloakServer}}/auth/admin/index.html#/realms/Demo%20Realm/applications" target="_blank">Create
                    Client</a></li>
                <li><a data-ng-click="showConfig = !showConfig">Configure App</a></li>
            </ul>
        </section>

        <section>
            <h2>Registration</h2>
            <ul>
                <li><a href="{{keycloakServer}}/auth/admin/index.html#/realms/demo-realm" target="_blank">Enable
                    Registration</a></li>
            </ul>
        </section>

        <section>
            <h2>Account Workflows</h2>

            <ul>
                <li><a href="{{keycloakServer}}/auth/admin/index.html#/realms/Demo%20Realm/users" target="_blank">Add
                    Required Action</a></li>
            </ul>
        </section>

        <section>
            <h2>Social Login</h2>

            <ul>
                <li><a href="{{keycloakServer}}/auth/admin/index.html#/realms/Demo%20Realm" target="_blank">Enable
                    Social</a></li>
            </ul>
        </section>

        <section>
            <h2>Multi-Factor Authentication</h2>

            <ul>
                <li><a href="{{keycloakServer}}/auth/admin/index.html#/realms/Demo%20Realm" target="_blank">Set
                    Multi-Factor Required</a></li>
            </ul>
        </section>

        <section>
            <h2>Account Management</h2>

            <ul>
                <li><a href="{{keycloakServer}}/auth/admin/index.html#/realms/Demo%20Realm" target="_blank">Enable Account
                    Management</a></li>
                <li><a href="{{keycloakServer}}/auth/admin/index.html#/realms/Demo%20Realm/users" target="_blank">Grant
                    User Access</a></li>
                <li><a href="{{keycloakServer}}/auth/rest/realms/Demo%20Realm/account" target="_blank">Account
                    Management</a></li>
            </ul>
        </section>
    </div>
</div>

<script>
    window.oauth = (function () {
        var oauth = {};
        var config;

        if (sessionStorage.keycloakConfig) {
            try {
                config = JSON.parse(sessionStorage.keycloakConfig)
            } catch (err) {
            }
        }

        var params = window.location.search.substring(1).split('&');
        for (var i = 0; i < params.length; i++) {
            var p = params[i].split('=');
            switch (decodeURIComponent(p[0])) {
                case 'code':
                    oauth.code = p[1];
                    break;
                case 'error':
                    oauth.error = p[1];
                    break;
                case 'state':
                    oauth.state = decodeURIComponent(p[1]);
                    break;
            }
        }

        oauth.callback = (oauth.code && oauth.state) || (oauth.error && oauth.state);

        if (oauth.state && oauth.state == sessionStorage.oauthState) {
            oauth.callback = true;
            delete sessionStorage.oauthState;
        } else {
            oauth.callback = false;
        }

        if (oauth.callback) {
            if (oauth.state.indexOf('#') != -1) {
                var stateParams = atob(oauth.state.split('#')[1]).split('&');
                for (var i = 0; i < stateParams.length; i++) {
                    var p = stateParams[i].split('=');
                    switch (p[0]) {
                        case 'hash':
                            oauth.fragment = p[1];
                            break;
                        case 'prompt' :
                            oauth.prompt = p[1];
                            break;
                    }
                }
            }

            var params = 'code=' + oauth.code + '&client_id=' + encodeURIComponent(config['resource']) + '&password=' + encodeURIComponent(config['credentials'].password);
            var url = config['code-url'];

            var req = new XMLHttpRequest();
            req.open('POST', url, false);
            req.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            req.send(params);

            if (req.status == 200) {
                var token = JSON.parse(req.responseText)['access_token'];
                token = JSON.parse(atob(token.split('.')[1]));

                delete token.jti;
                delete token.exp;
                delete token.nbf;
                delete token.iat;
                delete token['allowed-origins'];
                for (var i in token['resource_access']) {
                    delete token['resource_access'][i]['verify_caller'];
                }

                oauth.token = token;
            } else {
                oauth.error = req.statusText;
            }

            window.history.replaceState({}, null, location.protocol + '//' + location.host + location.pathname + (oauth.fragment ? oauth.fragment : ''));
        }

        return oauth;
    }());

    if (sessionStorage.logoutFragment) {
        location.hash = sessionStorage.logoutFragment;
        delete sessionStorage.logoutFragment;
    }

    function reset() {
        delete sessionStorage.keycloakConfig;
        logout();
    }

    function logout() {
        var redirect = location.href;
        var url = keycloakConfig['auth-url'].replace('/login', '/logout');
        url += '?redirect_uri=' + encodeURIComponent(redirect);
        document.location = url;
    }

    function getToken() {
        var params = 'code=' + window.oauth.code + '&client_id=' + encodeURIComponent(keycloakConfig['resource']) + '&password=' + encodeURIComponent(keycloakConfig['credentials'].password);
        var url = keycloakConfig['code-url'];

        var req = new XMLHttpRequest();
        req.open('POST', url, false);
        req.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        req.send(params);

        if (req.status == 200) {
            var token = JSON.parse(req.responseText)['access_token'];
            token = JSON.parse(atob(token.split('.')[1]));

            delete token.jti;
            delete token.exp;
            delete token.nbf;
            delete token.iat;
            delete token['allowed-origins'];
            for (var i in token['resource_access']) {
                delete token['resource_access'][i]['verify_caller'];
            }

            document.getElementById('auth-status').innerHTML = '<p>Received token</p><pre>' + JSON.stringify(token, null, 2) + '</pre>';
        } else {
            document.getElementById('auth-status').innerHTML = '<p>Failed to obtain token</p><pre>' + req.statusText + '</pre>';
        }
    }

</script>

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.min.js"></script>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
            { src: 'lib/js/classList.js', condition: function () {
                return !document.body.classList;
            } },
            { src: 'plugin/markdown/marked.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: 'plugin/markdown/markdown.js', condition: function () {
                return !!document.querySelector('[data-markdown]');
            } },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function () {
                hljs.initHighlightingOnLoad();
            } },
            { src: 'plugin/zoom-js/zoom.js', async: true, condition: function () {
                return !!document.body.classList;
            } },
            { src: 'plugin/notes/notes.js', async: true, condition: function () {
                return !!document.body.classList;
            } }
        ],

        width: 1200,
        height: 900
    });

</script>

</body>
</html>
