body {
    padding: 100px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input {
    padding: 10px;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
}

div {
    padding: 10px;
    margin-top: 20px;
    color: #0a568a;
    border: 1px solid #9acfea;
    border-radius: 4px;
    width: 100%;
    background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
    background-repeat: repeat-x;
}

div strong {
    display: inline-block;
    width: 150px;
}